.hey {
  --color_00: #0C0C0C;
  --color_01: #0CFFFF;
  --color_02: #FFEDF0;
  --color_03: #FEDEDF;
  --color_04: #ECCECD;
  --color_05: #D7BAB9;
  --color_06: #BD5D30;
  --color_07: #148348;
  --color_08: #1F8B85;
  --color_09: #807770;
  --color_0A: #67675F;
  --color_0B: #53564E;
  --color_0C: #40C7C3;
  --color_0D: #8F3227;
  --color_0E: #162115;
  --color_0F: #041104;
  --color_10: #010F00;
  --color_11: #002635;
  --color_12: #253142;
  --color_13: #323E4B;
  --color_14: #344B54;
  --color_15: #36585D;
  --color_16: #39736B;
  --color_17: #337B73;
  --color_18: #3C847B;
  --color_19: #468D83;
  --color_1A: #50958B;
  --color_1B: #599E93;
  --color_1C: #63A79B;
  --color_1D: #6DAFA3;
  --color_1E: #76B8AB;
  --color_1F: #80C1B4;
  --color_20: #8A0C0C;
  --color_21: #0C0427;
  --color_22: #373B33;
  --color_23: #0F4B3F;
  --color_24: #175B4B;
  --color_25: #1F6B57;
  --color_26: #2B7B67;
  --color_27: #3B8B77;
  --color_28: #479B8B;
  --color_29: #53AF9F;
  --color_2A: #63C7AF;
  --color_2B: #6FDFBF;
  --color_2C: #77E3CB;
  --color_2D: #8FE7D7;
  --color_2E: #ABEBE3;
  --color_2F: #C7F3EF;
  --color_30: #E30C0C;
  --color_31: #0C0F00;
  --color_32: #001F1F;
  --color_33: #1F0027;
  --color_34: #3B0733;
  --color_35: #4B2347;
  --color_36: #1B4753;
  --color_37: #2F6763;
  --color_38: #4B736F;
  --color_39: #577B7B;
  --color_3A: #5F8787;
  --color_3B: #6B8F93;
  --color_3C: #77ABA3;
  --color_3D: #6FC7C3;
  --color_3E: #8FD3D3;
  --color_3F: #A3EFEF;
  --color_40: #CF0C0C;
  --color_41: #0C0C0C;
  --color_42: #0C1F1F;
  --color_43: #1F2F2F;
  --color_44: #2F3F3F;
  --color_45: #3F4F4F;
  --color_46: #4F5F5F;
  --color_47: #5F6F6F;
  --color_48: #6F7F7F;
  --color_49: #7F8F8F;
  --color_4A: #8F9F9F;
  --color_4B: #9FAFAF;
  --color_4C: #AFBFBF;
  --color_4D: #BFCFCF;
  --color_4E: #CFDFDF;
  --color_4F: #DFEFEF;
  --color_50: #EF0F00;
  --color_51: #002635;
  --color_52: #253142;
  --color_53: #323E4B;
  --color_54: #344B54;
  --color_55: #36585D;
  --color_56: #39736B;
  --color_57: #337B73;
  --color_58: #3C847B;
  --color_59: #468D83;
  --color_5A: #50958B;
  --color_5B: #599E93;
  --color_5C: #63A79B;
  --color_5D: #6DAFA3;
  --color_5E: #76B8AB;
  --color_5F: #80C1B4;
  --color_60: #8AFBEB;
  --color_61: #070F0F;
  --color_62: #0F0F0F;
  --color_63: #0F0F0F;
  --color_64: #0F0F0F;
  --color_65: #0F0F0F;
  --color_66: #0F0F0F;
  --color_67: #0F0F0F;
  --color_68: #0F0F0F;
  --color_69: #0F1F1F;
  --color_6A: #1F2F2F;
  --color_6B: #2F3F3F;
  --color_6C: #3F4F4F;
  --color_6D: #4F5F5F;
  --color_6E: #5F6F6F;
  --color_6F: #6F7F7F;
  --color_70: #7F0C0C;
  --color_71: #0C1F1F;
  --color_72: #1F2F27;
  --color_73: #0B3B33;
  --color_74: #0F4B3F;
  --color_75: #17574F;
  --color_76: #1F635B;
  --color_77: #2B736B;
  --color_78: #337F77;
  --color_79: #3F8F87;
  --color_7A: #4F9B97;
  --color_7B: #5FB7B3;
  --color_7C: #7FD3D3;
  --color_7D: #A3E3DF;
  --color_7E: #B7EFEF;
  --color_7F: #CFFFFF;
  --color_80: #E70F00;
  --color_81: #000F00;
  --color_82: #00230C;
  --color_83: #053618;
  --color_84: #0B4924;
  --color_85: #105D30;
  --color_86: #14703C;
  --color_87: #1A8348;
  --color_88: #1F9653;
  --color_89: #23A264;
  --color_8A: #2AAE75;
  --color_8B: #31BA86;
  --color_8C: #38C696;
  --color_8D: #3FD2A7;
  --color_8E: #46DEB8;
  --color_8F: #4DF5D9;
  --color_90: #5B0C0C;
  --color_91: #0C1F1F;
  --color_92: #1F2F27;
  --color_93: #0B3B33;
  --color_94: #0F4B3F;
  --color_95: #17574F;
  --color_96: #1F635B;
  --color_97: #2B736B;
  --color_98: #337F77;
  --color_99: #3F8F87;
  --color_9A: #4F9B97;
  --color_9B: #5FB7B3;
  --color_9C: #7FD3D3;
  --color_9D: #A3E3DF;
  --color_9E: #B7EFEF;
  --color_9F: #CFFFFF;
  --color_A0: #E73707;
  --color_A1: #005713;
  --color_A2: #006B1F;
  --color_A3: #007727;
  --color_A4: #077F2F;
  --color_A5: #078333;
  --color_A6: #078B37;
  --color_A7: #078F3F;
  --color_A8: #079F4B;
  --color_A9: #0BB75F;
  --color_AA: #0FD377;
  --color_AB: #23EB8F;
  --color_AC: #3BFBA7;
  --color_AD: #3FFBBB;
  --color_AE: #2BFBDB;
  --color_AF: #13FFFF;
  --color_B0: #009F4B;
  --color_B1: #009F4B;
  --color_B2: #009F4B;
  --color_B3: #002F27;
  --color_B4: #0B3B33;
  --color_B5: #0F4B3F;
  --color_B6: #17574F;
  --color_B7: #1F635B;
  --color_B8: #2B736B;
  --color_B9: #337F77;
  --color_BA: #3F8F87;
  --color_BB: #4F9B97;
  --color_BC: #5FABA3;
  --color_BD: #6FB7B3;
  --color_BE: #7FC7C3;
  --color_BF: #8FD3D3;
  --color_C0: #A3E3DF;
  --color_C1: #B72F27;
  --color_C2: #0B2F27;
  --color_C3: #0B2F27;
  --color_C4: #0B3B33;
  --color_C5: #0F4B3F;
  --color_C6: #17574F;
  --color_C7: #1F635B;
  --color_C8: #2B736B;
  --color_C9: #337F77;
  --color_CA: #3F8F87;
  --color_CB: #4F9B97;
  --color_CC: #5FABA3;
  --color_CD: #6FB7B3;
  --color_CE: #7FC7C3;
  --color_CF: #8FD3D3;
  --color_D0: #A3E3DF;
  --color_D1: #B77727;
  --color_D2: #078333;
  --color_D3: #078B37;
  --color_D4: #078F3F;
  --color_D5: #079F4B;
  --color_D6: #0BB75F;
  --color_D7: #0FD377;
  --color_D8: #23EB8F;
  --color_D9: #3BFBA7;
  --color_DA: #3FFBBB;
  --color_DB: #2BFBDB;
  --color_DC: #13FFFF;
  --color_DD: #00E3FF;
  --color_DE: #77FBFF;
  --color_DF: #C7F3FF;
  --color_E0: #AB0F1B;
  --color_E1: #0C2635;
  --color_E2: #253142;
  --color_E3: #323E4B;
  --color_E4: #344B54;
  --color_E5: #36585D;
  --color_E6: #39736B;
  --color_E7: #337B73;
  --color_E8: #3C847B;
  --color_E9: #468D83;
  --color_EA: #50958B;
  --color_EB: #599E93;
  --color_EC: #63A79B;
  --color_ED: #6DAFA3;
  --color_EE: #76B8AB;
  --color_EF: #80C1B4;
  --color_F0: #8A0F00;
  --color_F1: #002635;
  --color_F2: #253142;
  --color_F3: #323E4B;
  --color_F4: #344B54;
  --color_F5: #36585D;
  --color_F6: #39736B;
  --color_F7: #337B73;
  --color_F8: #3C847B;
  --color_F9: #468D83;
  --color_FA: #50958B;
  --color_FB: #599E93;
  --color_FC: #63A79B;
  --color_FD: #6DAFA3;
  --color_FE: #76B8AB;
  --color_FF: #80C1B4;
}
