.hey {
  --color_00: #0C0C0C;
  --color_01: #FFFF0C;
  --color_02: #F0EDFF;
  --color_03: #DFDEFE;
  --color_04: #CDCEEC;
  --color_05: #B9BAD7;
  --color_06: #305DBD;
  --color_07: #488314;
  --color_08: #858B1F;
  --color_09: #707780;
  --color_0A: #5F6767;
  --color_0B: #4E5653;
  --color_0C: #C3C740;
  --color_0D: #27328F;
  --color_0E: #152116;
  --color_0F: #041104;
  --color_10: #000F01;
  --color_11: #352600;
  --color_12: #423125;
  --color_13: #4B3E32;
  --color_14: #544B34;
  --color_15: #5D5836;
  --color_16: #6B7339;
  --color_17: #737B33;
  --color_18: #7B843C;
  --color_19: #838D46;
  --color_1A: #8B9550;
  --color_1B: #939E59;
  --color_1C: #9BA763;
  --color_1D: #A3AF6D;
  --color_1E: #ABB876;
  --color_1F: #B4C180;
  --color_20: #0C0C8A;
  --color_21: #27040C;
  --color_22: #333B37;
  --color_23: #3F4B0F;
  --color_24: #4B5B17;
  --color_25: #576B1F;
  --color_26: #677B2B;
  --color_27: #778B3B;
  --color_28: #8B9B47;
  --color_29: #9FAF53;
  --color_2A: #AFC763;
  --color_2B: #BFDF6F;
  --color_2C: #CBE377;
  --color_2D: #D7E78F;
  --color_2E: #E3EBAB;
  --color_2F: #EFF3C7;
  --color_30: #0C0CE3;
  --color_31: #000F0C;
  --color_32: #1F1F00;
  --color_33: #27001F;
  --color_34: #33073B;
  --color_35: #47234B;
  --color_36: #53471B;
  --color_37: #63672F;
  --color_38: #6F734B;
  --color_39: #7B7B57;
  --color_3A: #87875F;
  --color_3B: #938F6B;
  --color_3C: #A3AB77;
  --color_3D: #C3C76F;
  --color_3E: #D3D38F;
  --color_3F: #EFEFA3;
  --color_40: #0C0CCF;
  --color_41: #0C0C0C;
  --color_42: #1F1F0C;
  --color_43: #2F2F1F;
  --color_44: #3F3F2F;
  --color_45: #4F4F3F;
  --color_46: #5F5F4F;
  --color_47: #6F6F5F;
  --color_48: #7F7F6F;
  --color_49: #8F8F7F;
  --color_4A: #9F9F8F;
  --color_4B: #AFAF9F;
  --color_4C: #BFBFAF;
  --color_4D: #CFCFBF;
  --color_4E: #DFDFCF;
  --color_4F: #EFEFDF;
  --color_50: #000FEF;
  --color_51: #352600;
  --color_52: #423125;
  --color_53: #4B3E32;
  --color_54: #544B34;
  --color_55: #5D5836;
  --color_56: #6B7339;
  --color_57: #737B33;
  --color_58: #7B843C;
  --color_59: #838D46;
  --color_5A: #8B9550;
  --color_5B: #939E59;
  --color_5C: #9BA763;
  --color_5D: #A3AF6D;
  --color_5E: #ABB876;
  --color_5F: #B4C180;
  --color_60: #EBFB8A;
  --color_61: #0F0F07;
  --color_62: #0F0F0F;
  --color_63: #0F0F0F;
  --color_64: #0F0F0F;
  --color_65: #0F0F0F;
  --color_66: #0F0F0F;
  --color_67: #0F0F0F;
  --color_68: #0F0F0F;
  --color_69: #1F1F0F;
  --color_6A: #2F2F1F;
  --color_6B: #3F3F2F;
  --color_6C: #4F4F3F;
  --color_6D: #5F5F4F;
  --color_6E: #6F6F5F;
  --color_6F: #7F7F6F;
  --color_70: #0C0C7F;
  --color_71: #1F1F0C;
  --color_72: #272F1F;
  --color_73: #333B0B;
  --color_74: #3F4B0F;
  --color_75: #4F5717;
  --color_76: #5B631F;
  --color_77: #6B732B;
  --color_78: #777F33;
  --color_79: #878F3F;
  --color_7A: #979B4F;
  --color_7B: #B3B75F;
  --color_7C: #D3D37F;
  --color_7D: #DFE3A3;
  --color_7E: #EFEFB7;
  --color_7F: #FFFFCF;
  --color_80: #000FE7;
  --color_81: #000F00;
  --color_82: #0C2300;
  --color_83: #183605;
  --color_84: #24490B;
  --color_85: #305D10;
  --color_86: #3C7014;
  --color_87: #48831A;
  --color_88: #53961F;
  --color_89: #64A223;
  --color_8A: #75AE2A;
  --color_8B: #86BA31;
  --color_8C: #96C638;
  --color_8D: #A7D23F;
  --color_8E: #B8DE46;
  --color_8F: #D9F54D;
  --color_90: #0C0C5B;
  --color_91: #1F1F0C;
  --color_92: #272F1F;
  --color_93: #333B0B;
  --color_94: #3F4B0F;
  --color_95: #4F5717;
  --color_96: #5B631F;
  --color_97: #6B732B;
  --color_98: #777F33;
  --color_99: #878F3F;
  --color_9A: #979B4F;
  --color_9B: #B3B75F;
  --color_9C: #D3D37F;
  --color_9D: #DFE3A3;
  --color_9E: #EFEFB7;
  --color_9F: #FFFFCF;
  --color_A0: #0737E7;
  --color_A1: #135700;
  --color_A2: #1F6B00;
  --color_A3: #277700;
  --color_A4: #2F7F07;
  --color_A5: #338307;
  --color_A6: #378B07;
  --color_A7: #3F8F07;
  --color_A8: #4B9F07;
  --color_A9: #5FB70B;
  --color_AA: #77D30F;
  --color_AB: #8FEB23;
  --color_AC: #A7FB3B;
  --color_AD: #BBFB3F;
  --color_AE: #DBFB2B;
  --color_AF: #FFFF13;
  --color_B0: #4B9F00;
  --color_B1: #4B9F00;
  --color_B2: #4B9F00;
  --color_B3: #272F00;
  --color_B4: #333B0B;
  --color_B5: #3F4B0F;
  --color_B6: #4F5717;
  --color_B7: #5B631F;
  --color_B8: #6B732B;
  --color_B9: #777F33;
  --color_BA: #878F3F;
  --color_BB: #979B4F;
  --color_BC: #A3AB5F;
  --color_BD: #B3B76F;
  --color_BE: #C3C77F;
  --color_BF: #D3D38F;
  --color_C0: #DFE3A3;
  --color_C1: #272FB7;
  --color_C2: #272F0B;
  --color_C3: #272F0B;
  --color_C4: #333B0B;
  --color_C5: #3F4B0F;
  --color_C6: #4F5717;
  --color_C7: #5B631F;
  --color_C8: #6B732B;
  --color_C9: #777F33;
  --color_CA: #878F3F;
  --color_CB: #979B4F;
  --color_CC: #A3AB5F;
  --color_CD: #B3B76F;
  --color_CE: #C3C77F;
  --color_CF: #D3D38F;
  --color_D0: #DFE3A3;
  --color_D1: #2777B7;
  --color_D2: #338307;
  --color_D3: #378B07;
  --color_D4: #3F8F07;
  --color_D5: #4B9F07;
  --color_D6: #5FB70B;
  --color_D7: #77D30F;
  --color_D8: #8FEB23;
  --color_D9: #A7FB3B;
  --color_DA: #BBFB3F;
  --color_DB: #DBFB2B;
  --color_DC: #FFFF13;
  --color_DD: #FFE300;
  --color_DE: #FFFB77;
  --color_DF: #FFF3C7;
  --color_E0: #1B0FAB;
  --color_E1: #35260C;
  --color_E2: #423125;
  --color_E3: #4B3E32;
  --color_E4: #544B34;
  --color_E5: #5D5836;
  --color_E6: #6B7339;
  --color_E7: #737B33;
  --color_E8: #7B843C;
  --color_E9: #838D46;
  --color_EA: #8B9550;
  --color_EB: #939E59;
  --color_EC: #9BA763;
  --color_ED: #A3AF6D;
  --color_EE: #ABB876;
  --color_EF: #B4C180;
  --color_F0: #000F8A;
  --color_F1: #352600;
  --color_F2: #423125;
  --color_F3: #4B3E32;
  --color_F4: #544B34;
  --color_F5: #5D5836;
  --color_F6: #6B7339;
  --color_F7: #737B33;
  --color_F8: #7B843C;
  --color_F9: #838D46;
  --color_FA: #8B9550;
  --color_FB: #939E59;
  --color_FC: #9BA763;
  --color_FD: #A3AF6D;
  --color_FE: #ABB876;
  --color_FF: #B4C180;
}
